<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        {{>header}}

        <P>{{errorMessage}}</P>

        {{>footer}}
    </BODY>

</HTML>