<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <TITLE>404</TITLE>
        <LINK REL="icon" HREF="/img/weather.png">
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        <DIV class="main-content">
        {{>header}}
        <P>{{errorMessage}}</P>
        </DIV>


        {{>footer}}
    </BODY>

</HTML>