<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        {{>header}}
        <IMG SRC="/img/me.png">
        {{>footer}}
    </BODY>

</HTML>