<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <TITLE>About</TITLE>
        <LINK REL="icon" HREF="/img/weather.png">
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        <DIV class="main-content">
            {{>header}}
            <P>This site was created by Jeff Slavin. It uses data from mapbox.com and darksky.net!</P>
            <IMG class="portrait" SRC="/img/me.png">
        </DIV>
        
        {{>footer}}
    </BODY>

</HTML>