<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <TITLE>Help</TITLE>
        <LINK REL="icon" HREF="/img/weather.png">
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        <DIV class="main-content">
            {{>header}}
            <P>{{helpText}}</P>
        </DIV>


        {{>footer}}
    </BODY>

</HTML>