<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <TITLE>Weather</TITLE>
        <LINK REL="icon" HREF="/img/weather.png">
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        <DIV CLASS="main-content">
            {{>header}}
            <P>Use this site to get your weather!</P>

            <FORM>
                <INPUT PLACEHOLDER="Location">
                <BUTTON>Search</BUTTON>
            </FORM>

            <P ID="message-1"></P>
            <P ID="message-2"></P>
        </DIV>

        {{>footer}}

        <SCRIPT SRC="/js/app.js"></SCRIPT>
    </BODY>

</HTML>