<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <TITLE>Weather</TITLE>
        <LINK REL="icon" HREF="/img/weather.png">
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
        <SCRIPT SRC="/js/app.js"></SCRIPT>
    </HEAD>

    <BODY>
        <DIV CLASS="main-content">
            {{>header}}
            <P>Use this site to get your weather!</P>
        </DIV>

        {{>footer}}

    </BODY>

</HTML>