<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <!-- <LINK REL="stylesheet" HREF="./css/styles.css"> relative path-->
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
        <SCRIPT SRC="/js/app.js"></SCRIPT>
    </HEAD>

    <BODY>
        {{>header}}
        {{>footer}}
    </BODY>

</HTML>