<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
    </HEAD>

    <BODY>
        <H1>{{title}}</H1>
        <IMG SRC="/img/me.png">
        <P>Created by {{name}}</P>
    </BODY>

</HTML>