<!DOCTYPE HTML>

<HTML>

    <HEAD>
        <!-- <LINK REL="stylesheet" HREF="./css/styles.css"> relative path-->
        <LINK REL="stylesheet" HREF="/css/styles.css">  <!-- absolute path -->
        <SCRIPT SRC="/js/app.js"></SCRIPT>
    </HEAD>

    <BODY>
        <H1>{{title}}</H1>
        <P>Created by {{name}}</P>
    </BODY>

</HTML>